/* mobile */

@media  screen and (min-width: 300px) and (max-width: 768px)  {
    .hero {
        min-width: 300px;
        max-width: 768px;
        
    }
    .resto1__info {
        display: grid;
        grid-gap: 1 cm;
        grid-template-columns: repeat(1, 1fr);
        font-size: 12px;
    }
    #hamburger {
        display: block;
    }

    .text-jumbotron {
        position: absolute;
        transform: translate(5%, 50%);
        top: 0;
        left: 0;
        font-size: 20%;

    }

    .resto_list__image {
        max-height: 250px;
        overflow: hidden;
        object-fit: cover;
    }

.resto {
min-width: 300px;
        max-width: 768px;
}
    .not-found p {
        font-size: .8em;
        padding: 0;
    }

    #nav-menu {
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        transform: translate(450px, 0);
        transition: transform 0.3s ease-in-out;
        background-color:navy;
        position: fixed;
        z-index: 100;
    }

    #nav-menu.open {
        transform: translate(0, 0);
    }

    #hamburger {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: white;
        top: 0;
        right: 0;
        font-size: 32px;
        z-index: 9999;
        margin-right: 20%;
    }

    nav {
        display: block;
    }

    nav ul {
        display: block;
        transform: translate(-15px, -13px);
    }

    nav ul li {
        display: block;
        padding: 10px 0px 10px 0;
        min-height: 44px;
        min-width: 44px;
    }

    .header__title {
        font-size: 100%;

    }

   
    /* .imghero img{
        height: 800px;
        width:100%
        
         
    } */

    .text-jumbotron {
        text-align: center;
        margin: 10%;
    }

    .text-jumbotron h1 {
        font-size: 50%;
    }

    .text-jumbotron h2 {
        font-size: 60%;
    }


    .resto__title {
        font-size: 1.6em;
    }

    .resto__list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 20%;
        margin: 0 ;
        row-gap: 10%;
        
    }

   

  
    .restos {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 10%;
        margin: 0;
        
        row-gap: 10%;
    }
    .restaurant{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 10%;
        margin: 0 ;
        row-gap: 3em;
        align-items: center;
       
    }
}


/* tablet */


@media screen and (max-width: 769px) and (min-width: 562px) {
    
    .resto{
        max-width: 769px;
        min-width: 562px;
    }
    .hero {
        max-width: 769px;
        min-width: 562px;
        padding:0;
    }
    #hamburger {
        display: none;
    }

    .restaurant {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10%;
        margin: 0;
        row-gap: 10%;
    }
    .restos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10%;
        margin: 0 ;
        row-gap: 10%;
    }
    .restaurants{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10%;
        margin: 0 ;
        row-gap: 10%;
    }

    .text-jumbotron {
        position: absolute;
        transform: translate(5%, 50%);
        top: 0;
        left: 0;
        font-size: 10pt;
        margin: 5px 0px 2px 0px;

    }

   

    .resto_list__image {
        max-height: 190%;
    }


    .text-jumbotron {
        margin: 40%;
        max-width: 80%;
        text-align: center;
    }

    .text-jumbotron h1 {
        font-size: 3em;
    }


    .resto__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 10%;
        margin: 0 ;
        row-gap: 10%;
    }
}



/* desktop */

@media screen and (min-width: 1081) and (max-width: 1200px) {
   .resto{
    min-width: 1081;
    max-width: 1200px;
   }
    .hero {
        min-width: 1081;
        max-width: 1200px;
    }
    #hamburger {
        display: none;
    }
    .text-jumbotron {
        position: absolute;
        transform: translate(5%, 50%);
        top: 0;
        left: 0;
        font-size: 28em;
        margin: 5em 0 2em 0;
        
    }
    
 
    .text-jumbotron {
        transform: translate(10%, 55%);
        margin: auto;
    }
}